<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Create Library</title>
</h:head>
<h:body>
	<h:form>
		<h:messages />
		<h:panelGrid columns="2">
			<h:outputLabel value="Nome" for="nome" />
			<h:inputText id="nome" value="#{libraryBean.library.nome}" required="true" label="Nome"/>
			<h:commandButton value="Salvar" action="#{libraryBean.create}"/>
		</h:panelGrid>	
		<h:commandLink value="Back" action="lista" immediate="true" />
	</h:form>
</h:body>
</html>