<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:t="http://myfaces.apache.org/tomahawk">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>All Libraries</title>
<h:outputStylesheet library="css" name="estilo.css"/>
</h:head>
<h:body>
	<!-- matem o estado do array -->
	<t:saveState value="#{libraryBean.libraries}"/>
	<h:form>
		<h:messages />
		<h:commandLink value="New" action="cadastro" />
		<h:dataTable value="#{libraryBean.libraries}" var="library">
			<h:column>
				<f:facet name="header">Id</f:facet>	
				#{library.id}
			</h:column>
			<h:column>
				<f:facet name="header">Nome</f:facet>	
				#{library.nome}
			</h:column>
			<h:column>
				<f:facet name="header"></f:facet>
				<h:commandLink value="delete" action="#{libraryBean.remove(library)}" />
			</h:column>
			<h:column>
				<f:facet name="header"></f:facet>
				<h:commandLink value="update" action="edita">
					<f:setPropertyActionListener value="#{library}" target="#{libraryBean.library}" />
				</h:commandLink>
			</h:column>
		</h:dataTable>
	</h:form>
</h:body>
</html>