<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html">

  <h:head>
    <title>Library</title>
  </h:head>
  <h:body>
    <h:outputText value ="Olá JSF!" />
    <br></br>
    <h:outputText value="#{olaMundoBean.horario}" />
    <br></br>
  	<h:form>
  		<h:inputText value="#{olaMundoBean.nome}"></h:inputText>
	    <br></br>
  		<h:commandButton value="Ok" action="#{olaMundoBean.nomeFoiDigitado}"></h:commandButton>
  	</h:form>
  
  </h:body>
</html>
